langchain
langchain-community
langchain-huggingface
gradio
sentence-transformers
supabase
ragas
pypdf
pdfplumber
psycopg2-binary
pandas
numpy
scikit-learn
matplotlib
seaborn
umap-learn
jupyter
unstructured[pdf]
pdfminer.six
langchain-experimental~=0.3.0
