langchain~=0.3.0
langchain-community~=0.3.0
langchain-google-genai~=2.0.0
chainlit
supabase
ragas
pypdf
pdfplumber
psycopg2-binary
pandas
numpy
scikit-learn
matplotlib
seaborn
umap-learn
jupyter
unstructured[pdf]
pdfminer.six
langchain-experimental~=0.3.0
langchain-huggingface~=0.1.0
sentence-transformers
